@model RegisterViewModel
@{
    Layout = null;
}

@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registracija</title>
    <environment include="Development,Production">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <div class="account-container">
        <div class="account-inner-div">
            <h2 class="heading">Reci "PE" registracija</h2>

            <form method="post">
                <div class="form-control">
                    <input asp-for="KorisnickoIme" placeholder="Korisničko ime" />
                    <span asp-validation-for="KorisnickoIme"></span>
                </div>

                <div class="form-control">
                    <input asp-for="Lozinka" placeholder="Lozinka" />
                    <span asp-validation-for="Lozinka"></span>
                </div>

                <div class="form-control">
                    <input asp-for="LozinkaPonovo" placeholder="Ponovite lozinku" />
                    <span asp-validation-for="LozinkaPonovo"></span>
                </div>

                <div class="form-control">
                    <input asp-for="Ime" placeholder="Ime" />
                    <span asp-validation-for="Ime"></span>
                </div>

                <div class="form-control">
                    <input asp-for="Prezime" placeholder="Prezime" />
                    <span asp-validation-for="Prezime"></span>
                </div>

                @*<div class="form-control-g-recaptcha">
                    @Html.GoogleReCaptcha(Configuration.GetValue<string>("GoogleReCaptcha:ClientKey"))
                    <span asp-validation-for="GoogleReCaptchaResponse"></span>
                </div>*@

                <div class="account-buttons">
                    <button class="button" type="submit">Registriraj se</button>
                </div>
            </form>
        </div>
    </div>

    <script src="~/js/jquery-validate-bundle.min.js"></script>
</body>
</html>
